<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ProjectId" value="56a7cc79-762a-4b28-bcb5-5e42813aa8e9" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PreviewToken" value="ew0KICAiYWxnIjogIkhTMjU2IiwNCiAgInR5cCI6ICJKV1QiDQp9.ew0KICAidWlkIjogInVzcl8wdlJLcmdQQzFEaG1vdjU2clJoUERCIiwNCiAgImVtYWlsIjogImNvbXBvc2VzYW1wbGVAa2VudGljby5jb20iLA0KICAicHJvamVjdF9pZCI6ICI1NmE3Y2M3OS03NjJhLTRiMjgtYmNiNS01ZTQyODEzYWE4ZTkiLA0KICAianRpIjogIm93MWRBd3dqTFM4aGlqSEkiLA0KICAidmVyIjogIjEuMC4wIiwNCiAgImdpdmVuX25hbWUiOiAiQ29tcG9zZSIsDQogICJmYW1pbHlfbmFtZSI6ICJTYW1wbGUiLA0KICAiYXVkIjogInByZXZpZXcuZGVsaXZlci5rZW50aWNvY2xvdWQuY29tIg0KfQ.fznazQLWy3OUHr1sa_yo9evT_4O_06h2tKQ1HuIK69U" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
