<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ProjectId" value="24695d3a-04fc-404f-a4be-353c357cd902" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PreviewToken" value="ew0KICAiYWxnIjogIkhTMjU2IiwNCiAgInR5cCI6ICJKV1QiDQp9.ew0KICAidWlkIjogInVzcl8wdlJadG15SmVwVzh3eDFISU9FYUtSIiwNCiAgImVtYWlsIjogImNvbXBvc2VzYW1wbGVAa2VudGljby5jb20iLA0KICAicHJvamVjdF9pZCI6ICIyNDY5NWQzYS0wNGZjLTQwNGYtYTRiZS0zNTNjMzU3Y2Q5MDIiLA0KICAianRpIjogIjEtZ2JuZGRPcVZQYnYtY3giLA0KICAidmVyIjogIjEuMC4wIiwNCiAgImdpdmVuX25hbWUiOiAiQ29tcG9zZSIsDQogICJmYW1pbHlfbmFtZSI6ICJTYW1wbGUiLA0KICAiYXVkIjogInByZXZpZXcuZGVsaXZlci5rZW50aWNvY2xvdWQuY29tIg0KfQ.H5fZf6f1isczxk4935ALS0kfZx1QeDahejwVRP0wSlM" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
