<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ProjectId" value="25c18b7b-e445-4859-9092-7879d61c18b3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PreviewToken" value="ew0KICAiYWxnIjogIkhTMjU2IiwNCiAgInR5cCI6ICJKV1QiDQp9.ew0KICAidWlkIjogInVzcl8wdlJPcjNvR2RJQk9JS3ZHR1BFeFlnIiwNCiAgImVtYWlsIjogImNvbXBvc2VwcEBrZW50aWNvLmNvbSIsDQogICJwcm9qZWN0X2lkIjogIjI1YzE4YjdiLWU0NDUtNDg1OS05MDkyLTc4NzlkNjFjMThiMyIsDQogICJqdGkiOiAidUpXTkdOazhiVVFIX3RPeiIsDQogICJ2ZXIiOiAiMS4wLjAiLA0KICAiZ2l2ZW5fbmFtZSI6ICJQZXRyIiwNCiAgImZhbWlseV9uYW1lIjogIlBhbGFzIiwNCiAgImF1ZCI6ICJwcmV2aWV3LmRlbGl2ZXIua2VudGljb2Nsb3VkLmNvbSINCn0.lKb21hooSzRi5YyLt4diMdgVgcSgowPJPpNmTxcBPag" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ProductionEndpoint" value="https://kenticodeliverdev.global.ssl.fastly.net/{0}/items/" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)" />
    <add key="PreviewEndpoint" value="https://previewkenticodeliverdev.global.ssl.fastly.net/{0}/items/" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)" />
    <add key="ComposeEndpoint" value="https://previewkenticocomposedev.global.ssl.fastly.net/" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
